.component2-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.component2-fragment {
  display: contents;
}
.component2-text2 {
  display: inline-block;
}
